@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Potta+One&display=swap');
*{
    font-family: 'Kufam', cursive;


}
 /* @media (max-width:768px){
     
.navbar-nav{
align-items: flex-end;
align-content: center;


}
} */
.container-fluid{
    font-size: small;
}
ul{
    list-style: none;
    

}
.linkDiv{
    list-style: unset;
}
.Loca{
    padding-left: 6px;
    display: inline;
}
.names{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#id{
    width: 40px;
}